.vscode
.playwright-cli
build.sh
.build
.DS_Store
.gamepad-button-assets
GAMEPAD-CONTROLS.md
echogallery-data
EchoGallery
config.json
publish.sh
releases
generate_qr_code.py
repo_qr_circle.png
release notes
.gitignore
web/static/.DS_Store
web/.DS_Store
TO-DOs.md
TO-DOs
local-update.toml
EchoGalleryUpdater
handoff